* {
	margin: 0;
	padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
	text-decoration: none;
}

input {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: #fff;
}

.phet {
    background: url(../image/ph.png) no-repeat;
    background-color: #fef7f7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    z-index: 20;
}

::-webkit-input-placeholder {color:#cccccc;}
.sh_phen {
    width: 197px;
    height: 35px;
    border: 0;
    line-height: 26px;
    font-size: 14px;
    outline: 0;
    background-color: #FFF;
    padding-left: 10px;
    border-radius: 0;
    margin: 0 auto;
    display: block;
    margin-top: 100%;
	border:1px solid #ff6766;
	border-radius:6px;
}


.liuc{background: url(../image/liuc.png) no-repeat;
    background-color: #f6696a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    z-index: 20;}

.gouc{
    background-color: #f7696a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    z-index: 20;
}

.uie{    width: 80%;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 15px;
    color: #FFF;
    margin: 35px auto;
    line-height: 25px;}

.ba1,.ba2{overflow: hidden;
    height: 100px;
    color: #000;
    width: 80%;
    margin: 0 auto;margin-top: -5%;margin-bottom: 3%;}

.ba1{background: url(../image/ba1.png) no-repeat center center;background-size: 100% 100px;}
.ba2{background: url(../image/ba2.png) no-repeat center center;background-size: 100% 100px; }
.contc{width:90%; margin:0 auto;}


.contc .btit{font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 16px;
    color: #f7696a;
    margin-left: 12px;
    margin-top: 10%;}

.contc .lipo{

	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 12px;
    color: #828282;
    padding-left: 12px;
    padding-top: 6px;
    line-height: 19px;
 }

@media screen and (min-height:600px){


.uie{    width: 80%;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 18px;
    color: #FFF;
    margin: 35px auto;
    line-height: 25px;}

.ba1{background: url(../image/ba1.png) no-repeat center center;background-size: 100% 120px;margin-top: -5%;}
.ba2{background: url(../image/ba2.png) no-repeat center center;background-size: 100% 120px; margin-top:3%;}

.ba1,.ba2{overflow: hidden;
    height: 120px;
    color: #000;
    width: 80%;
    margin: 0 auto;}

}

.dweh {
       font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    width: 100%;
    height: 43px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    background-color: #f7696a;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}


.fwz {
	background: url(../image/ks.png) no-repeat;
	background-color: #ff6766;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	z-index: 20;
}

.fwk {
	background: url(../image/kk.png) no-repeat;
	background-color: #ff6766;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	z-index: 20;
}

.fwd {
	background: url(../image/sb.png) no-repeat;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	z-index: 20;
}

.fwx {
	background: url(../image/cg.png) no-repeat;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	z-index: 20;
}

.sh_xnpdt {
	width: 197px;
	height: 35px;
	border: 0;
	line-height: 26px;
	font-size: 14px;
	color: #FFF;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.1);
	padding-left: 10px;
	border-radius: 0;
	margin: 0 auto;
	display: block;
	margin-top: 100%;
}

.she {
	padding: 5px 3em .4em;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	border: 0;
	color: #ff6766;
	background: #fff;
	font-size: 14px;
	margin: 0 auto;
	display: block;
	margin-top: 12px;
	font-weight: normal;
}

.cvn {
	padding: 5px .1em .4em;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	border: 0;
	color: #fff;
	background: #ff6766;
	font-size: 14px;
	margin: 0 auto;
	display: block;
	margin-top: 12px;
	font-weight: normal;
	width: 100px;
	margin-top: 100%;
	text-align: center;
}

.bot {
	position: absolute;
	width: 100%;
	height: 30px
}

.ret1 {
	width: 120px;
	height: 29px;
	padding: 2px 0.5em 0.4em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 25px;
	border: none;
	color: #fff;
	background: #ff6766;
	font-size: 14px;
	margin-top: 22px;
	display: block;
	line-height: 34px;
	bottom: 20px;
	text-align: center;
	margin: 0 auto;
	margin-top: 110%;
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}

.bot {
	position: absolute;
	width: 100%;
	height: 30px;
}

.masd {
	width: 100%;
	height: 100%;
	display: none;
}

.xgi{position: absolute;
    /* height: 11%; */
    top: 0%;
    width: 100%;}

.res {

	width: 100%;
    height: 110px;
	background: #FFF;
    position: absolute;
    z-index: 1001;
	bottom:0;
    display: block;

}

.tet {
	width: 100%;
	height: 38px;
	background: #ff6766;
	line-height: 37px;
}

.cont {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
	width: 90%;
	line-height: 26px;
	text-align: left;
	color: #000;
	font-size: 14px;
	padding-top: 3%;
	padding-left: 18px;
}

.mask2 {
	width: 100%;
	height: 90%;
	background: #000 no-repeat center;
	position: absolute;
	border-radius: 0;
	opacity: .6;
	right: 0;
	z-index: 1001;
	top: 0;
	display: block;
}

.share1 {
	position: absolute;
	bottom: 0;
	z-index: 1002;
	text-align: center;
	width: 100%;
	height: 130px;
	background: #e8e8e8;
}

.zxbi {
	position: absolute;
	bottom: 0;
	z-index: 1002;
	text-align: center;
	width: 50%;
	height: 130px;
	background: #ff6766;
}

.xxbi {
	position: absolute;
	bottom: 0;
	z-index: 1002;
	text-align: center;
	width: 50%;
	height: 130px;
	background: #e8e8e8;
	right: 0;
}

.xtx {
	width: 64px;
	height: 18px;
	margin: 0 auto;
	margin-top: 16px;
	font-size: 15px;
	color: #fff;
}

.xxx {
	width: 64px;
	height: 18px;
	margin: 0 auto;
	margin-top: 16px;
	font-size: 15px;
	color: #000;
}

.ad1 {
	width: 108px;
	height: 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	color: #000;
	background: #fff;
	font-size: 15px;
	display: block;
	line-height: 32px;
	display: block;
	margin: 13px auto;
}

.ad2 {
	width: 108px;
	height: 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	color: #fff;
	background: #ff6766;
	font-size: 15px;
	display: block;
	line-height: 32px;
	display: block;
	margin: 13px auto;
}

.ad3 {
	width: 108px;
	height: 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	color: #fff;
	background: #ff6766;
	font-size: 14px;
	display: block;
	line-height: 32px;
	display: block;
	margin: -3px auto;
}


/*相册12.28*/

.topList {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
  width: 100%;
  height: 55px;
  line-height: 21px;
  text-align: center;
  color: #000;
  background: #FFFFFF;
  font-size: 14px;
  position: fixed;
  padding-top: 10px;
  top: 0;
  z-index: 300;
  -moz-box-shadow: 2px 2px 2px 2px #e8e8e8;
  box-shadow: 2px 2px 2px 2px #e8e8e8;
}

.xad {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
	font-size: 14px;
	color: #ff6766;
}

.xce {
	background-color:#f2f2f2;
}

.dwList {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
  width: 100%;
  height: 28px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  background: #ff6766;
  font-size: 15px;
  position: fixed;
  padding-top: 15px;
  bottom: 0;

}

.kixbw {
	width: 100%;
	margin: 70px auto;
	position: relative;
	/* z-index: -1; */
	margin-bottom: 56px;
	/* background-color: red; */
}
/*12.28结束*/
.comeul {
	margin: 0 auto;
	width: 100%;
}

ul,
li {
	list-style-type: none;
}

.kixbw li {
	margin-left: 5%;
	margin-top: 3%;
	width: 40%;
	display: inline-block;
}

.check,
.updw {
	border: none;
	width: 100%;
	display: block;
	border: 7px solid #FFF;
}

.de {
	width: 20px;
	position: absolute;
	right: -10px;
	top: 0;
}

.ft {
	float: left;
	width: 100%;
	position: relative;
}

.imga1 {
	width: 20px;
	position: absolute;
	right: -10px;
	bottom: 1%;
}

.masd p {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
	font-size: 15px;
	padding-left: 10px;
	color:#FFFFFF;
}

.contex {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
	font-size: 15px;
	padding-left: 10px;
	width: 85%;
	margin: 20% auto;
}

.pi {
	line-height: 32px;
}

.rex {
	width: 120px;
	height: 29px;
	padding: 2px 0.5em 0.4em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 9px;
	color: #000;
	background: #FFF;
	font-size: 14px;
	margin-top: 22px;
	display: block;
	border: 1px solid #000;
	line-height: 34px;
	bottom: 20px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20%;
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}