{{#def.header}}
<div class="fwx">
<a href="albumre" class="ret1">继续冲印</a>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
$(function() {

/* 可循环查询冲印状态 */
  });
 </script>

  {{#def.footer}}
